.image__Mobile {
  display: none;
}

.nav__List--Underline {
  display: flex;
  gap: 3em;
  .nav__Link {
    padding: 0.3em 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 100%;
      height: 3px;
      width: 100%;
      border-bottom: 1px solid $white;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.5s;
    }
    &:hover::before {
      transform: scaleX(1);
    }
  }
}
.nav {
  &__Close,
  &__Burger,
  &__List--Head {
    display: none;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 99;
  padding: 4rem 10rem;
  width: 100%;
}
section {
  min-height: 100vh;
  padding: 10rem;
}
.hero {
  position: relative;
  background-image: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $white;
    border: 2px solid $white;
    font-size: 5rem;
    width: 47%;
    padding: 1rem 3.5rem;
  }
}
.interactive {
  position: relative;
  div {
    position: absolute;
    top: 50%;
  }
  &__Image {
    width: 54%;
    transform: translateY(-50%);
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__Text {
    transform: translateY(-17%);
    background: $white;
    color: $black;
    left: 51.5%;
    width: 44%;
    padding: 7.5em;
    h1 {
      font-size: 3.5rem;
      line-height: 1;
      margin-bottom: 0.5em;
    }
    p {
      color: $vDarkGray;
      line-height: 1.4;
    }
  }
}
.creations {
  position: relative;
  display: grid;
  grid-template: 20% 1fr / repeat(2, 1fr);
  grid-template-areas:
    "title link"
    "list list";
  align-items: center;
  gap: 5rem;
  &__Title {
    grid-area: title;
  }
  &__Link {
    grid-area: link;
    justify-self: right;
    color: $black;
    border: 1px solid $black;
    padding: 0.75rem 1rem;
    font-size: 1.2em;
    border-radius: 5px;
    text-transform: uppercase;
    &:hover {
      color: $white;
      background: $black;
    }
  }
  &__List {
    grid-area: list;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    li {
      position: relative;
    }
    a {
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.35);
      }
      &:hover {
        &::before {
          background: $white;
          opacity: 0.5;
        }
        span {
          color: $black;
        }
      }
      img {
        width: 100%;
        height: auto;
      }
      span {
        position: absolute;
        bottom: 0;
        left: 0;
        text-transform: uppercase;
        font-size: 2rem;
        padding-left: 2rem;
        height: 30%;
        width: 100%;
      }
    }
  }
}
.footer {
  background: $black;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  grid-template-areas:
    "logo icons"
    "list credits"
    ". attribution";
  padding: 4rem 10rem;
  gap: 1rem;
  color: $white;
  align-items: center;
  text-align: right;
  &__Logo {
    grid-area: logo;
    text-align: left;
  }
  &__List {
    grid-area: list;
    text-align: left;
  }
  &__Icons {
    display: flex;
    justify-content: end;
    gap: 1.5em;
    grid-area: icons;
    img {
      transition: transform 0.25s;
      &:hover {
        transform: skewX(15deg);
      }
    }
  }
  &__Credits {
    grid-area: credits;
  }
  .attribution {
    grid-area: attribution;
  }
}
